@keyframes cursor {
    to {
        border-color: transparent;
    }
}

.txt {
    display: table-cell;
    vertical-align: middle;
    border-right: 0.05em solid #F81857; 
    animation: cursor 0.3s ease infinite;
}