@charset "utf-8";

body {
    overflow-y: scroll;
    overflow-x: hidden;
    color: #333;

    /* font-family: 'Francois One', sans-serif;
    font-family: 'NanumSquareRound';
    font-family: 'Lalezar', cursive; */
    font-family: 'SUIT-Medium', sans-serif;
    background-color: #F5F5F3;
}

footer {}

button {}

select {
    font-family: 'SUIT-Medium', sans-serif;
}

button {
    font-family: 'SUIT-Medium', sans-serif;
}

/* 스크롤 디자인 */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    background-color: rgb(189, 189, 189);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}


/* ------------------햄버거 버튼----------------- */

.burger-trigger {
    transition: opacity .25s;
    cursor: pointer;
    pointer-events: auto;
}

.burger-trigger g {
    transition: transform .15s;
} /* 부드럽게 들어가게 하는 */

@media (hover: hover) {
    .burger-trigger:hover g {
        transform: translate(2px, -2px);
    }
} /* 1번째 호버 */

.burger-trigger:active g {
    transform: translate(4px, -5px);
} /* 클릭할때 들어가는 */

/* 버튼 위치 잡기 */
header {
    position: relative;
}

.opened {
    position: fixed;
    top: 60px;
    right: 40px;
}

.closed {
    position: absolute;
    top: 30px;
    right: 30px;
}

/* ------------------메뉴 모달창 띄우기----------------- */
.modal {
    /* background-color: rgb(8, 151, 151); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.modalBox {
    position: absolute;
    background-color: #F5F5F3;
    width: 90%;
    height: 90%;
    border-radius: 50px;
}

/* .modal .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */

.modal .bg {
    width: 100%;
    height: 100vh;
    background-color: #81AED9;
}

.hidden {
    display: none;
}

/* 메뉴 */
.menu_nav {
    width: 40%;
    height: 90%;
    margin-left: 100px;
    margin-top: 200px;
}

.menu_nav li {
    font-size: 3.5em;
    font-weight: 600;
    margin-top: 50px;
}

/* 메뉴 밑줄 효과 */
.menu_nav a {
    position: relative;
}

.menu_nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: #81AED9;
}

.menu_nav li:hover a::after {
    width: 100%;
    transition: width .7s;
}

/* ------------------메인----------------- */
#wrap {
    width: 100%;
    margin: 0 auto;
    
}

.section_all {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* ------------------PORTFOLIO----------------- */

.section1{
    max-width: 1880px;
    min-width: 1025px;
    margin: 0 auto;
    background-color: #81AED9;
    border-radius: 50px;
    margin-top: 40px;
    padding-bottom: 40px;
    background-image: url(../img/profile1.png);
}

.section1_t{
    margin: 0 auto;
    max-width: 1820px;
    min-width: 1025px;
    height: 900px;
    padding-top: 40px;
}

.t_inner {
    max-width: 1400px;
    min-width: 1025px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    
}


.t_inner .img_file>img{
    display: inline-block;
    margin-left: 1000px;
    margin-top: -70px;
}
/* .arrow{
    display: inline-block;
    margin-top: -300px;
} */

.po {
    font-family: 'SUIT-ExtraBold', sans-serif;
    font-size: 130px;
    color: #F5F5F3;
    margin-top: -50px;

}

.si {
    font-family: 'SUIT-ExtraBold', sans-serif;
    font-size: 130px;
    margin-left: 900px;
    margin-top: -50px;
    color: #F5F5F3;
}
.t_inner>span{
    font-size: 1.4em;
    font-weight: 400;
    margin-top: -50px;
    margin-left: 50px;
}
.ment{
    font-size: 2.4em;
    color: #333;
    margin-bottom: 50px;
    margin-left: 50px;
}

/* start 버튼 */
.start_bt {
    transition: opacity .25s;
    cursor: pointer;
    pointer-events: auto;
}

.start_bt .start_bt_back{
    transition: transform .15s;
} /* 부드럽게 들어가게 하는 */

@media (hover: hover) {
    .start_bt:hover .start_bt_back{
        transform: translate(2px, -6px);
    }
} /* 1번째 호버 */

.start_bt:active .start_bt_back{
    transform: translate(7px, -15px);
} /* 클릭할때 들어가는 */

/* ------------------About me----------------- */
.section1_b {
    max-width: 1820px;
    min-width: 1025px;
    height: 900px;
    margin: 0 auto;
    background-color: #F5F5F3;
    border-radius: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b_inner{
    max-width: 1400px;
    min-width: 1025px;
    height: 900px;
    margin: 0 auto;
    background-color: #F5F5F3;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10em;

}
.About_left>h1{
    font-size: 3.5em;
    font-weight: 800;
    margin-bottom: 40px;
    margin-left: -40px;

}
.About_text>h2{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 60px;
    border-bottom: 9px solid #81AED9;
}
.About_text>p{
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #E5744A;
}
.About_text strong{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.7em;
}
.About_text>span{
    font-size: 1.3em;
}
/* ------------------Skill----------------- */


.second {
    position: relative;
    padding: 20px;
    width: 100px;
}

.second>strong {
    position: absolute;
    top: 75%;
    left: 40%;
    margin: -50px 0 0 -55px;
    font-size: 1.5rem;
}
.circles{
    display: flex;
    flex-flow: row nowrap;
}

/* ------------------Website Renewal----------------- */

.section2_all{
    max-width: 1880px;
    min-width: 1025px;
    margin: 0 auto;
    background-color: #81AED9;
    border-radius: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.section2{
    max-width: 1820px;
    min-width: 1025px;
    /* height: 900px; */
    margin: 0 auto;
    background-color: #F5F5F3;
    border-radius: 50px;

}
.inner {
    max-width: 1400px;
    min-width: 1025px;
    /* height: 900px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    
}
.renewal{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.renewal>div{
    width: 500px;
    height: 650px;
    background-color: #E5744A;
    margin: 40px;
}
.renewal1{
    margin-top: 40px;
    background-color: #81AED9;
}


/* ------------------My life----------------- */

.section3_all{
    max-width: 1880px;
    min-width: 1025px;
    margin: 0 auto;
    background-color: #81AED9;
    border-radius: 50px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.section3{
    max-width: 1820px;
    min-width: 1025px;
    height: 900px;
    margin: 0 auto;
    background-color: #F5F5F3;
    border-radius: 50px;

}





